:root{
    --fuente: "Montserrat", sans-serif;
    --color-beige-clarito: #e2d6bc;
    --color-verde-claro: #658877;
    --tamano-titulos: 32px;
}

* {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

body {
    width: 100dvw;
    height: 100dvh;
}

header {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;

    padding-bottom: 20px;

    text-align: center;

    background-image: url("../images/fondo_isfdyt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-bottom: 10px solid var(--color-verde-claro);
}

.logo {
    width: 470px;
}

.circulo-logo {
    width: 400px;
    height: 400px;

    background-color: rgba(233, 233, 233, 0.274);

    backdrop-filter: blur(4px);

    clip-path: circle(200px);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(122, 122, 122, 0.20);
}

main {
    background-color: var(--color-beige-clarito);
    height: max-content;

    display: flex;
    
    flex-direction: column;

    gap: 45px;
}

#seccionInformacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: inherit;
}

.contenedor-textos {
    width: 80%;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.texto-uno, .texto-dos, .texto-tres, .texto-cuatro {
    text-align: justify;
    font-family: var(--fuente);
    font-size: larger;
    font-weight: bolder;
}

h1, h2, h3 {
    font-size: var(--tamano-titulos);
    font-weight: bold;
}

#seccionTarjetas {
    width: 100%;
    height: max-content;

    display: flex;

    align-items: center;

    flex-direction: column;

    gap: 35px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
}

.contenedor-tarjetas {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.ipas {
    display: flex;

    justify-content: left;
}

.tarjeta-ipas {
    width: 500px;
    height: 50%;

    border: 1px solid black;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;

    padding: 4px;
}

.jobries {
    display: flex;

    justify-content: right;
}

.tarjeta-jobries {
    width: 500px;
    height: 50%;

    border: 1px solid black;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: row-reverse;

    gap: 20px;

    padding: 4px;
}

.listi {
    display: flex;

    justify-content: left;
}

.tarjeta-listi {
    width: 500px;
    height: 50%;

    border: 1px solid black;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;

    padding: 4px;
}

.ficarq {
    display: flex;

    justify-content: right;
}

.tarjeta-ficarq {
    width: 500px;
    height: 50%;

    border: 1px solid black;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: row-reverse;

    gap: 20px;

    padding: 4px;
}

.canelo {
    display: flex;

    justify-content: left;
}

.tarjeta-canelo {
    width: 500px;
    height: 50%;

    border: 1px solid black;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;

    padding: 4px;
}

.tarjeta-ipas, .tarjeta-jobries, .tarjeta-listi, .tarjeta-ficarq, .tarjeta-canelo {
    height: 180px;

    background-color: rgba(255, 255, 255, 0.140);

    backdrop-filter: blur(15px);
}

.tarjeta-ipas, .tarjeta-listi, .tarjeta-canelo {
    margin-left: 15px;
    margin-right: 10px;
}

.tarjeta-jobries, .tarjeta-ficarq {
    margin-right: 15px;
    margin-left: 10px;
}

.ipas-texto, .jobries-texto, .listi-texto, .ficarq-texto, .canelo-texto {
    font-family: var(--fuente);
    font-size: larger;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

#seccionUbicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;

    padding-top: 28px;
    padding-bottom: 20px;

    background-color: inherit;
}

.contenedor-main-ubicacion {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ubicacion {
    width: 380px;

    border: 2px solid rgba(0, 0, 0, 0.550);
}

footer {
    width: 100%;
    height: max-content;

    background-color: var(--color-verde-claro);

    display: flex;

    justify-content: space-around;
    align-items: center;

    gap: 20px;

    flex-wrap: wrap;

    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-izquierdo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
}

.titulo-footer-rs {
    font-family: var(--fuente);
    font-size: larger;
    font-weight: 400;
}

.contenedor-texto-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 10px;
}

.texto-footer {
    font-family: var(--fuente);

    font-size: medium;

    font-weight: 500;

    text-align: center;
}

.contenedor-iconos-rs-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;

    overflow: hidden;
    
    padding-top: 8px;
}

.img-footer {
    width: 24px;
    height: 24px;
}